{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUJU.com</title>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
     <link href="{% static "assets/css/theme.css"%}" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 main">
                <div class="col-md-12"id="bg_img">
                    <div class="col-md-12"id="cover"></div>
                    <div class="col-md-3 col-md-offset-4"style="z-index: 2">
                    <div class="row" id="alert"></div>
                    <div class="login-panel panel panel-default" >
                        <div class="panel-heading">
                            <h3 class="panel-title">登录</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'illustration:login'%}" method="post" autocomplete="off">
                                <!-- 错误提示栏,可提示用户名与密码不符/用户名或密码为空的错误 -->
                                <div style="text-align: left; border: none; color: red; padding-bottom: 10px">
                                {% for key, error in login_form.errors.items %}
                                {{ error }}
                                {% endfor %}
                                {{ msg }}</div>
                                <fieldset>
                                    <div class="form-group">
                                        <input name="username" class="form-control" placeholder="用户名" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input name="password" class="form-control" placeholder="密码" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" type="password">
                                    </div>
                                    <input class="btn btn-primary btn-block" type="submit" value="登录" />
                                </fieldset>
                                {% csrf_token %}
                            </form>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static "assets/js/jquery.min.js"%}"></script>
<script src="{% static "assets/js/theme.js"%}"></script>
</body>
</html>