{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUJU.com</title>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
     <link href={% static "assets/css/theme.css"%} rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="{% static "css/common.css" %}">
</head>
<body>
{% include "header.html" %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 main">
                <div class="col-md-12"id="bg_img">
                    <div class="col-md-12"id="cover"></div>
                    <div class="col-md-3 col-md-offset-4"style="z-index: 2">

                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">注册</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'illustration:register'%}" role="form"method="post">
                                    <!-- 错误提示栏,可提示用户名已注册/用户名或密码不合法/两次密码输入不一致的错误 -->
                                    <div style="text-align: left; border: none; color: red; padding-bottom: 10px">
                                    {% for key, error in register_form.errors.items %}
                                    {{ error }}
                                    {% endfor %}
                                    {{ msg }}</div>
                                    <!-- 注册基本信息填写 -->
                                    <div class="form-group">
                                        <input name="username" type="text" class="form-control" placeholder="用户名（长度超过3位，含有a-z,0-9）">
                                    </div>
                                    <div class="form-group">
                                        <input name="password" type="password" class="form-control"placeholder="密码（长度不少于6位）">
                                    </div>
                                    <div class="form-group">
                                        <input name="repeat" type="password" class="form-control"placeholder="确认密码">
                                    </div>
                                    <input  class="btn btn-primary btn-block" type="submit" value="注册"/>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static "assets/js/jquery.min.js"%}"></script>
<script src="{% static "assets/js/theme.js"%}"></script>