<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="nav nav-sidebar">
                    <li id="sellinfobar"><a href="sellinfo.html">历史成交信息</a></li>
                    <li id="communitybar"><a href="community.html">商圈周边小区</a></li>
                    <li id="detailbar"><a href="detail.html">小区详细信息</a></li>
                    <li id="subwaybar"><a href="subway.html">地铁周边小区</a></li>
                    <li id="volumnbar"><a href="volumn.html">网签数据分析</a></li>
                    <li id="newsbar"><a href="news.html">楼市最新动态</a></li>
                    <li id="rentinfo"><a href="rentinfo.html">小区租房信息</a></li>
    </ul>
</body>
</html>