body {  padding-top: 70px; padding-bottom: 70px;}
.navbar{padding-top:10px;height:70px;}



.sidebar {
    position: fixed;
    top: 85px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    color:#eee;
    background-color: #505457;
    border-right: 1px solid #eee;
    border-radius: 0 8px 0 0;
}
.sidebar a{
    color:#eee;
}
li a:hover{
    color:#505457;
}
.jumbotron{
   background-color: #505457;
    color: #eee;
}
.main {
    padding-right: 40px;
    padding-left: 40px;
}
#collapseList1{
    background-color:#505457;
}
#collapseList2{
    background-color:#505457;
}
#bg_img{
    width: 100%;
    padding-top:100px;
    padding-bottom:180px ;
    background-image: url("../images/bg_img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#cover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}